<div
  *ngIf="isOpen"
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
      >
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 h-[70vh] sm:pb-4">
          <div class="sm:flex sm:items-start">
            <!-- <div
              class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10"
            >
              <svg
                class="h-6 w-6 text-red-600"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                />
              </svg>
            </div> -->
            <div
              style="width: 100%"
              class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left"
            >
              <div class="p-6 space-y-6" style="height: 65vh">
                <div class="h-full overflow-auto">
                  <form
                    [formGroup]="orderForm"
                    (ngSubmit)="formSubmit()"
                    class="sm:p-3"
                    validate
                  >
                    <div class="w-[60vw]">
                      <div class="formInput" style="flex-grow: 1">
                        <!-- <label
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          for="city"
                          >City</label
                        >
                        <ng-select
                        [items]="citys"
                          [(ngModel)]="CityId"
                          [ngModelOptions]="{ standalone: true }"
                          bindLabel="CityArea"
                          bindValue="CityId"
                          (change)="getDistributor($event)"
                        >
                        </ng-select>
                        <div class="formInput" style="flex-grow: 1">
                          <label
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            for="city"
                            >Distributor</label
                          >
                          <input type="text"
                          formControlName="Distributor"
                          [(ngModel)]="destributer"
                          /> 
                          <ng-select
                            [(ngModel)]="destributer"
                            [ngModelOptions]="{ standalone: true }"
                            [items]="distibuter"
                            bindLabel="DistributorName"
                            bindValue="DistributorId"
                            (change)="getmerchant($event)"
                          >
                          </ng-select>
                        </div>
                        <div class="formInput" style="flex-grow: 1">
                          <label
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            for="city"
                            >Merchant</label
                          >
                          <ng-select
                            formControlName="MerchantId"
                            [items]="merchant"
                            [(ngModel)]="merchantId"
                            bindLabel="MerchantName"
                            bindValue="MerchantId"
                          >
                          </ng-select>
                        </div> -->
                        <div class="formInput" style="flex-grow: 1">
                          <label
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            for="city"
                            >Product Name</label
                          >
                          <ng-select
                            formControlName="ProductId"
                            [items]="product"
                            bindLabel="ProductName"
                            bindValue="ProductId"
                            (change)="getcatogory($event)"
                          >
                          </ng-select>
                          <span
                          class="error"
                          *ngIf="
                            (f.controls.ProductName?.errors?.required &&
                              (f.controls.ProductName.dirty || f.controls.ProductName.touched)) ||
                            isAllValid && f.controls.ProductName.invalid
                          "
                        >
                          Product name is required.
                        </span>
                        </div>
                        <div class="formInput" style="flex-grow: 1">
                          <label
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            for="city"
                            >Category</label
                          >
                          <ng-select
                            formControlName="ProductCategoryId"
                            [items]="catogory"
                            bindLabel="ProductCategory"
                            bindValue="ProductCategoryId"
                          >
                          </ng-select>
                          <span
                          class="error"
                          *ngIf="
                            (f.controls.ProductCategory?.errors?.required &&
                              (f.controls.ProductCategory.dirty || f.controls.ProductCategory.touched)) ||
                            isAllValid && f.controls.ProductCategory.invalid
                          "
                        >
                          Product category is required.
                        </span>
                        </div>
                        <div class="formInput" style="flex-grow: 1">
                          <label
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            for="city"
                            >Packing</label
                          >
                          <ng-select
                            formControlName="Packing"
                            [items]="packing"
                          >
                          </ng-select>
                          <span
                          class="error"
                          *ngIf="
                            (f.controls.Packing?.errors?.required &&
                              (f.controls.Packing.dirty || f.controls.Packing.touched)) ||
                            isAllValid && f.controls.Packing.invalid
                          "
                        >
                          Packing is required.
                        </span>
                        </div>
                      </div>
                      <div class="formInput" style="flex-grow: 1">
                        <label
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          for="weight"
                          >Weight</label
                        >
                        <input
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          type="number"
                          id="Weight"
                          formControlName="ProductQuantity"
                          placeholder="Enter Weight"
                          required
                        />
                        <span
                            class="error"
                            *ngIf="
                              (f.controls.ProductQuantity?.errors?.required &&
                                (f.controls.ProductQuantity.dirty || f.controls.ProductQuantity.touched)) ||
                              isAllValid && f.controls.ProductQuantity.invalid
                            "
                          >
                            Product quantity is required.
                          </span>
                      </div>
                      <div class="formInput" style="flex-grow: 1">
                        <label
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          for="nos"
                          >Nos</label
                        >
                        <input
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          type="number"
                          id="Nos"
                          formControlName="NOS"
                          placeholder="Enter number"
                          required
                        />
                        <span
                            class="error"
                            *ngIf="
                              (f.controls.NOS?.errors?.required &&
                                (f.controls.NOS.dirty || f.controls.NOS.touched)) ||
                              isAllValid && f.controls.NOS.invalid
                            "
                          >
                            Number of pack is required.
                          </span>
                      </div>
                      <div class="formInput" style="flex-grow: 1">
                        <label
                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                          for="nos"
                          >Scheme</label
                        >
                        <input
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          type="text"
                          id="Scheme"
                          formControlName="Scheme"
                          placeholder="Enter scheme"
                          required
                        />
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button
            (click)="formSubmit()"
            type="button"
            class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto"
          >
            Submit
          </button>
          <button
            (click)="resetData()"
            type="button"
            class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>