<div class="h-full overflow-auto">
  <div class="mt-1 sm:p-0">
    <div
      class="mb-2 dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100"
    >
      <a routerLink="/distributer">
        <i class="fa-solid fa-arrow-left w-5 flex h-5 sm:w-6 sm:h-6"></i>
      </a>
    </div>
    <div
      class="rounded-xl shadow-xl p-1.5 dark:bg-gray-900"
      style="margin: 0 auto"
    >
      <h2
        class="text-lg mb-3 font-semibold text-gray-700 capitalize dark:text-white"
      >
        Distributor
      </h2>
      <form
        [formGroup]="distributorForm"
        (ngSubmit)="formSubmit()"
        class=""
        validate
      >
        <!-- <div class="" style="width: 150px; ">
            <img src="" alt="Header image" />
          </div> -->

        <div
          class="flex mt-1 sm:pt-0 sm:m-0"
          style="flex-wrap: wrap; gap: 20px"
        >
          <div class="formInput" style="flex-grow: 1">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              for="name"
              >Full Name</label
            >
            <input
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              type="text"
              id="name"
              formControlName="DistributorName"
              placeholder="Enter Field"
              required
            />
            <span
                class="error"
                *ngIf="
                  (f.controls.DistributorName?.errors?.required &&
                    (f.controls.DistributorName.dirty || f.controls.DistributorName.touched)) ||
                  isAllvalid
                "
              >
                Field is required.
              </span>
          </div>
          <div class="formInput" style="flex-grow: 1">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              for="name"
              >Firm Name</label
            >
            <input
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              type="text"
              id="firmname"
              formControlName="FirmName"
              placeholder="Enter your firm name"
              required
            />
            <span
                class="error"
                *ngIf="
                  (f.controls.FirmName?.errors?.required &&
                    (f.controls.FirmName.dirty || f.controls.FirmName.touched)) ||
                  isAllvalid
                "
              >
                Field is required.
              </span>
          </div>

          <div class="formInput" style="flex-grow: 1">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              for="name"
              >Email</label
            >
            <input
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              type="email"
              id="name"
              formControlName="DistributorEmail"
              placeholder="Enter your Email"
              required
            />
            <span
                class="error"
                *ngIf="
                  (f.controls.DistributorEmail?.errors?.required &&
                    (f.controls.DistributorEmail.dirty || f.controls.DistributorEmail.touched)) ||
                  isAllvalid
                "
              >
                Field is required.
              </span>
          </div>

          <div class="formInput" style="flex-grow: 1">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              for="mobile"
              >Mobile Number</label
            >
            <input
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              type="number"
              id="mobile"
              formControlName="DistributorTelNo"
              placeholder="Enter Field"
              required
            />
            <span
                class="error"
                *ngIf="
                  (f.controls.DistributorTelNo.errors?.required &&
                    (f.controls.DistributorTelNo.dirty || f.controls.DistributorTelNo.touched)) ||
                  isAllvalid
                "
              >
                Field is required.
              </span>
          </div>
        </div>

        <div
          class="flex sm:pt-0 sm:m-0"
          style="flex-wrap: wrap; gap: 20px; padding-top: 10px"
        >
          <div class="formInput" style="flex-grow: 1">
            <label
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              for="address"
              >Address</label
            >
            <input
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              type="text"
              id="address"
              formControlName="DistributorAddress"
              placeholder="Enter Field"
              required
            />

            <span
              class="error"
              *ngIf="
              (f.controls.DistributorAddress?.errors?.required &&
                (f.controls.DistributorAddress.dirty || f.controls.DistributorAddress.touched)) || isAllvalid "
            >
              Field is required.
            </span>
          </div>
        </div>
        <div class="formInput" style="flex-grow: 1" [hidden]="id">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            for="city"
            >City</label
          >
          <ng-select  [multiple]="true" formControlName="CityId">
            <ng-option *ngFor="let option of citys" [value]="option.CityId"
              >{{ option.CityArea }}</ng-option
            >
          </ng-select>
          <!-- <ng-select formControlName="CityId" [items]="citys" bindLabel="CityArea" bindValue="CityId" [multiple]="true"></ng-select> -->

          <span
              class="error"
              *ngIf="
                (f.controls.CityId.errors?.required &&
                  (f.controls.CityId.dirty || f.controls.CityId.touched)) ||
                isAllvalid
              "
            >
              Field is required.
            </span>
        </div>

        <div class="formInput" style="flex-grow: 1">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            for="bank"
            >BankName</label
          >
          <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text"
            id="bank"
            formControlName="BankName"
            placeholder="Enter your bank name"
            required
          />

          <span
              class="error"
              *ngIf="
                (f.controls.BankName.errors?.required &&
                  (f.controls.BankName.dirty ||
                    f.controls.BankName.touched)) ||
                isAllvalid
              "
            >
              Field is required.
            </span>
        </div>
        <div class="formInput" style="flex-grow: 1">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            for="ifsc"
            >IFSC Code</label
          >
          <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text"
            id="address"
            formControlName="IFSCCode"
            placeholder="Enter your IFSC code"
            required
          />

          <span
              class="error"
              *ngIf="
                (f.controls.IFSCCode.errors?.required &&
                  (f.controls.IFSCCode.dirty ||
                    f.controls.IFSCCode.touched)) ||
                isAllvalid
              "
            >
              Field is required.
            </span>
        </div>
        <div class="formInput" style="flex-grow: 1">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            for="address"
            >Check Number 1</label
          >
          <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text"
            id="check1"
            formControlName="ChequeNumber1"
            placeholder="Enter your checknumber 1"
            required
          />

          <span
              class="error"
              *ngIf="
                (f.controls.ChequeNumber1.errors?.required &&
                  (f.controls.ChequeNumber1.dirty ||
                    f.controls.ChequeNumber1.touched)) ||
                isAllvalid
              "
            >
              Field is required.
            </span>
        </div>
        <div class="formInput" style="flex-grow: 1">
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            for="address"
            >Check Number 2</label
          >
          <input
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            type="text"
            id="check2"
            formControlName="ChequeNumber2"
            placeholder="Enter your Checknumber 2"
            required
          />

          <span
              class="error"
              *ngIf="
                (f.controls.ChequeNumber2.errors?.required &&
                  (f.controls.ChequeNumber2.dirty ||
                    f.controls.ChequeNumber2.touched)) ||
                isAllvalid
              "
            >
              Field is required.
            </span>
        </div>

        <!-- <div class="formInput sm:pt-0 sm:m-0" style="padding-top: 10px">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"for="mobilenumber">Mobile Number</label>
            <input  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              type="tel"
              id="mobilenumber"
              formControlName="mobilenumber"
              placeholder="Enter Field"
              required
            /> -->
        <!-- <span
              class="error"
              *ngIf="
                (f.controls.['mobilenumber'].errors?.required &&
                  (f.controls.['mobilenumber'].dirty || f.controls.['mobilenumber'].touched)) ||
                isAllvalid
              "
            >
              Field is required.
            </span> -->
        <!-- </div> -->

        <div class="pt-3 flex justify-end">
          <button
            type="submit"
            class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900"
            (click)="resetData()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
