<nav
  class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700"
>
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <button
          (click)="toggle()"
          type="button"
          class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        >
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            ></path>
          </svg>
        </button>
        <a routerLink="/" class="flex ml-2 md:mr-24">
          <img
            src="../../../assets/logo.png"
            class="h-8 mr-3"
            alt="FlowBite Logo"
          />
          <span
            class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white"
            >Mbeat</span
          >
        </a>
      </div>
      <div class="flex items-center">
        <div class="flex items-center ml-3">
          <button class="" (click)="changeTheme()">
            <i
              *ngIf="!isDarkEnable"
              style="color: rgb(156 163 175)"
              class="w-10 text-gray-400 text-lg fa-solid fa-moon"
            ></i>
            <i
              *ngIf="isDarkEnable"
              style="color: rgb(229 231 235)"
              class="w-10 text-lg fa-solid fa-sun"
            ></i>
          </button>
          <div *ngIf="user && token">
            <button
              type="button"
              class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
              aria-expanded="false"
              data-dropdown-toggle="dropdown-user"
            >
              <span class="sr-only">Open user menu</span>
              <img
                class="w-8 h-8 rounded-full"
                [src]="user.picture"
                alt="user photo"
              />
            </button>
          </div>
          <div *ngIf="!user">
            <button
              type="button"
              class="flex text-sm dark:text-white ring-black"
              (click)="googleLogin()"
            >
              <div class="p-2 dark:text-white">
                Sing In<i class="fa-solid fa-right-to-bracket ml-1"></i>
              </div>
            </button>
          </div>
          <div
            class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
            id="dropdown-user"
          >
            <div class="px-4 py-3" role="none">
              <p class="text-sm text-gray-900 dark:text-white" role="none">
                Neil Sims
              </p>
              <p
                class="text-sm font-medium text-gray-900 truncate dark:text-gray-300"
                role="none"
              >
                neil.sims@flowbite.com
              </p>
            </div>
            <!-- <ul class="py-1" role="none">
              <li >
                <a
                  [routerLink]="rout.route"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem"
                  >{{rout.name}}</a
                >
              </li>
              
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<aside
  [class.-translate-x-0]="sidebar"
  [class.-translate-x-full]="!sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700"
>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li *ngFor="let rout of routeConfig">
        <a
          [routerLink]="rout.route"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        >

          <span class="ml-3">{{rout.name}}</span>
        </a>
      </li>
      
    </ul>
    <div
      *ngIf="user && token"
      class="h-screen flex flex-col justify-center px-3 pb-4 bg-white dark:bg-gray-800"
    >
      <ul class="space-y-2 font-medium">
        <li
          class="flex w-full items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          <button
            (click)="logout()"
            class="flex items-center text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
          >
            <i class="fa-solid fa-right-from-bracket"></i
            ><span class="flex-1 ml-3 whitespace-nowrap">Log Out</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</aside>
<div class="p-1 w-full mt-16">
  <div
    class="p-2 shadow-md rounded-lg dark:border-gray-700"
  >
  <router-outlet></router-outlet>
  </div>
</div>
